
<h1 class="header">It's Burger Time!</h1>

<div class="container">
  <div class="row">
    <div id="burgers" class="card-panel col s12 m6">
      <h4>Fresh burgers:</h4>
      <ul>
        {{#each burgers}}
          {{#unless this.devoured}}
            <li>
              {{this.burger_name}}

              <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
                <input type="hidden" name="devoured" value="true">
                <button class="waves-effect waves-light btn pom" type="submit">DEVOUR!</button>
              </form>

            </li>
          {{/unless}}
        {{/each}}
      </ul>
            <img class="burger" src="/assets/img/hamburgerIcon.png"/>

    </div>
    <div class="card-panel col s12 m4 offset-m1">
      <h4>Burgers you've eaten:</h4>

      <ul>
        {{#each burgers}}
          {{#if this.devoured}}
            <li>
              {{this.burger_name}}

              <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
                <input type="hidden" name="devoured" value="false">
                <button class='waves-effect waves-light btn pom' type="submit">Make another one!</button> 
              </form>
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
    <div class="card-panel col s12 m4 offset-m1">
      <h4>Cook a Burger</h4>
      <form class="create-update-form" action="burgers/create" method="POST">

        <div class="form-group">
          <label for="burg">Burger Name:</label>
          <input type="text" id="burg" name="burger_name">
        </div>
        <button class='waves-effect waves-light btn pom' type="submit">Add Burger</button>
      </form>
    </div>
    </div>
  </div>
</div>
